<div class="transactions">
    <div class="title">ผู้ป่วยในระบบล่าสุด</div>
    <div class="transaction-wrapper">
      <div class="transaction" *ngFor="let transaction of transactions | slice:-5">
        <div class="name">{{ transaction.name }}</div>
        <div class="position">{{ transaction.position }}</div>
        <div class="wound-location">
          <div class="wound">{{ transaction.wound }}</div>
        </div>
        <div
          class="status"
          [ngClass]="{
            confirmed: transaction.status === 'ผ่านการตรวจเรียบร้อย',
            pending: transaction.status === 'รอการตรวจจากผู้เชี่ยวชาญ'
          }"
        >
          {{ transaction.status }}
        </div>
      </div>
    </div>
  </div>