<div class="widget-container">
    <div class="widget green">
      <div class="icon">
        <fa-icon [icon]="faLocation"></fa-icon>
      </div>
      <div class="value">
        <div class="top">{{countpatients}}</div>
        <div class="bottom">จำนวนผู้ป่วยในระบบ</div>
      </div>
    </div>
    <div class="widget yellow">
      <div class="icon">
        <fa-icon [icon]="faShop"></fa-icon>
      </div>
      <div class="value">
        <div class="top">{{countpatientsinNurse}}</div>
        <div class="bottom">จำนวนผู้ป่วยที่ได้รับการปรึกษาแล้ว</div>
      </div>
    </div>
    <div class="widget red">
        <div class="icon">
          <fa-icon [icon]="faShop"></fa-icon>
        </div>
        <div class="value">
          <div class="top">{{countpatientsoutNurse}}</div>
          <div class="bottom">จำนวนผู้ป่วยที่ยังไม่ได้รับการปรึกษา</div>
        </div>
      </div>
  </div>